<div class="container-fluid p-0">
  <div class="row mt-3 justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-3">Login</h1>
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="form-group">
              <label class="small">Email</label>
              <input size="small" type="email" placeholder="Email" class="form-control" [formControl]="fcEmail" />
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label class="small">Password</label>
              <input size="small" type="password" placeholder="Password" class="form-control"
                [formControl]="fcPassword" />
            </div>
          </div>
          <div class="row mb-2" *ngIf="message != ''">
            <p class="text-danger text-center">{{message}}</p>
          </div>
          <div class="row mt-3 justify-content-center">
            <div class="col-auto">
              <button class="btn btn-primary shadow-sm" (click)='login()'>Login</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button type="button" class="btn btn-link" routerLink='/auth/register'>Create new account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>